* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Times, serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.resume-body {
  border: 1px solid #000;
  margin: 50px;
  padding: 20px 40px;
  width: 800px;
}

.section {
  margin-bottom: 20px;
  position: relative;
}

.section:hover {
  transform: scale(1.05);
}

.item {
  padding-bottom: 10px;
}

h3 {
  width: 100%;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row.one {
  font-weight: 900;
}

.row.two {
  font-style: italic;
  padding-bottom: 6px;
}

ul {
  list-style-position: inside;
}

button {
  padding: 4px 12px;
  border: none;
  border-radius: 6px;
  width: 71px;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}