.edit-form {
  background-color: #fff;
  border: 1px solid #000; 
  width: 500px;
  margin: 12px auto;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.buttons > button {
  width: 71px;
}

#submit {
  background-color: #04AA6D;
  color: #fff;
}

#submit:hover {
  background-color: #3acc96;
}

#cancel {
  background-color: #fc362c;
  color: #fff;
}

#cancel:hover {
  background-color: #fc726a;
}