.name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 18px;
}

#pipe {
  font-weight: 900;
}

.personal-info.edit {
  border: 1px solid #000;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.name-input {
  display: flex;
  gap: 20px;
}

.contact-info {
  display: flex;
  gap: 20px;
}

.link {
  display: flex;
  gap: 20px;
}

.description {
  display: flex;
  flex-direction: column;
}