.name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 18px;
}

#pipe {
  font-weight: 900;
}